.contenHere {
  min-height: 140vh;
  background-color: rgb(255, 247, 235);
}
.trang2 {
  background-color: rgb(255, 247, 235);
  min-height: 140vh;
}

.trang3 {
  background-color: rgb(249, 188, 172);
}
.trang4 {
  background-color: rgb(255, 199, 59);
}
.trang5 {
  background-color: rgb(204, 233, 129);
}
.trang6 {
  background-color: rgb(185, 237, 214);
}
