@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Lato:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 69, 52);
}
p {
  line-height: 2;
}

.nav-link {
  color: rgb(0, 69, 52);
  border-radius: 10px;
  white-space: nowrap;
  transition: 1000ms;
}

.nav-link:hover {
  background-color: rgb(243, 240, 240);
  border-radius: 50px;
  white-space: nowrap;
  transition: 500ms;
  animation: rainbow 5s linear infinite;
}
.fw-bolder {
  font-size: 3vm;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

@media (prefer-reduced-motion) {
  .content {
    transition: none;
  }
}

@keyframes rainbow {
  0% {
    color: rgb(249, 188, 172);
  }
  14% {
    color: orange;
  }
  28% {
    color: rgb(255, 199, 59);
  }
  42% {
    color: rgb(204, 233, 129);
  }
  57% {
    color: rgb(64, 64, 143);
  }
  71% {
    color: rgb(185, 237, 214);
  }
  85% {
    color: violet;
  }
  100% {
    color: rgb(249, 188, 172);
  }
}
.box1 {
  margin-bottom: 50vh;
  transition: all 0;
}
.box2 {
  margin-bottom: 43vh;
  transition: all 0;
}
.dropdown-menu {
  z-index: 9999;
}
