p {
  line-height: 2;
}
.fw-bolder {
  font-size: 3vm;
}

.content {
  width: 100%;
  min-height: 140vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-left {
  text-align: right;
}
.content-right {
  text-align: left;
}

@media (prefer-reduced-motion) {
  .content {
    transition: none;
  }
}
.trang1 {
  min-height: 140vh;
  background-image: url(https://scontent.fhan4-3.fna.fbcdn.net/v/t1.15752-9/356603949_250710564258246_2409974142374518886_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=ZWsQ_azPTuQAX8HyIOL&_nc_ht=scontent.fhan4-3.fna&oh=03_AdTsIDlK_J_yw4Z_2iYtIbV37g09iOChi23ni9nD6COwLg&oe=64C1D6B6);
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-size: cover;
  animation: sizeBaner 160s linear infinite;
}
#x1 {
  color: rgb(0, 69, 52);
  font-weight: bolder;
  background: rgb(184, 203, 204);
  padding: 20px;
  border-radius: 30px;
  transition: all 0.5s;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}
#x1:hover {
  background: rgb(250, 250, 250);

  transition: all 0.5s;
  animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
  0% {
    color: rgb(249, 188, 172);
  }
  14% {
    color: orange;
  }
  28% {
    color: rgb(255, 199, 59);
  }
  42% {
    color: rgb(204, 233, 129);
  }
  57% {
    color: rgb(64, 64, 143);
  }
  71% {
    color: rgb(185, 237, 214);
  }
  85% {
    color: violet;
  }
  100% {
    color: rgb(249, 188, 172);
  }
}

@keyframes sizeBaner {
  0% {
    background-position: -0px;
  }
  5% {
    background-position: -50px;
  }
  10% {
    background-position: -100px;
  }
  15% {
    background-position: -150px;
  }
  20% {
    background-position: -200px;
  }
  25% {
    background-position: -2500px;
  }
  30% {
    background-position: -300px;
  }
  35% {
    background-position: -3500px;
  }
  40% {
    background-position: -400px;
  }
  45% {
    background-position: -320px;
  }
  50% {
    background-position: -808px;
  }
  55% {
    background-position: -780px;
  }
  60% {
    background-position: -680px;
  }
  65% {
    background-position: -580px;
  }
  70% {
    background-position: -380px;
  }
  75% {
    background-position: -3650px;
  }
  80% {
    background-position: -200px;
  }
  85% {
    background-position: -2340px;
  }
  90% {
    background-position: -1890px;
  }
  95% {
    background-position: -120px;
  }
  100% {
    background-position: -0px;
  }
}
